<h1>Create New Product</h1>
<form (ngSubmit)="addProduct(product)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" required>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
    </div>
    <div class="form-group">
        <label for="subcategoryId">Subcategory ID</label>
        <select class="form-control" id="subcategoryId" [(ngModel)]="product.subcategoryId" name="subcategoryId"
            required>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.label }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="available">Available</label>
        <input type="checkbox" id="available" [(ngModel)]="product.available" name="available">
    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="close" class="btn btn-primary" (click)="closeModal()">Close</button>
    </div>
</form>