.basic-table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

.basic-table th,
.basic-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.basic-table th {
    background-color: #830000;
    color: #fff;
}

