.sidenav-container {
    display: flex;
    height: 100vh;
}

.sidenav {
    width: 200px;
}

.mat-sidenav-content {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    padding: 20px;
}

.tab-content {
    width: 100%;
    max-width: 800px;
    /* Adjust the max-width as needed */
}

.basic-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

.basic-table th,
.basic-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.basic-table th {
    background-color: #830000;
    color: #fff;
}

.tab-link {
    cursor: pointer;
    padding: 10px;
    display: block;
    color: #333;
    text-decoration: none;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link.active {
    background-color: #830000;
    color: #fff;
}