<app-navbar></app-navbar>
<table class="product-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Subcategory ID</th>
      <th>Available</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.subcategoryId }}</td>
      <td>{{ product.available }}</td>
      <td>
        <button class="action-button" (click)="onUpdateProduct(product)">Update</button>
        <button class="action-button" (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button routerLink="/create-prod" class="create-button">Create Product</button>
<button class="create-button" (click)="openModal()">Create Product</button>
