<app-navbar></app-navbar>
<div class="discussion-container">
    <h1>Discussion Board</h1>
    <div *ngIf="topics.length === 0" class="no-topics">No topics available.</div>
    <div *ngFor="let topic of topics" class="topic-card">
        <a [routerLink]="['/discussion', topic.id]" class="topic-title">{{ topic.title }}</a>
        <p class="description">{{ topic.description }}</p>
        <div class="metadata">
            <span>Created by User {{ topic.createdBy }}</span>
            <span>{{ topic.createdAt | date: 'medium' }}</span>
        </div>
    </div>
    <div class="button-container">
        <button class="create-button" type="create" (click)="openTopicForm()">Create Topic</button>
    </div>
</div>