<app-navbar></app-navbar>
<h1>
    <div>
        Home Page
    </div>
</h1>
<p>This is a home page of my Fire app yeaaa boiiiiii</p>
<p>-|- SATAN -|-</p>
<p>Ain't nobody gonna be messin' with ma Fire app 'cause it's fire boiii fr fr</p>
<h4>IT'S FAJAAAAAAAAAAAAA</h4>
<p>brutalica sim brutalica tam, jebena brutalica celi dan</p>
<h3>&lt;3 IVA &lt;3</h3>

<div>
    <button (click)="showSuccess()">Show Success</button>
    <button (click)="showError()">Show Error</button>
    <button (click)="showInfo()">Show Info</button>
    <button (click)="showWarning()">Show Warning</button>
</div>
<app-notification></app-notification>