mat-tab-group {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-tab {
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    padding: 16px;
    border-right: 1px solid #ddd;
}

mat-tab:last-child {
    border-right: none;
}

mat-tab-labels {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-tab-content {
    padding: 16px;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.form-element {
    margin-top: 24px;
}

.mat-tab-label {
    padding: 16px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}